<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.blizzard.com/wow/ui/ ..\FrameXML\UI.xsd">
	<Frame name="ww_config" parent="UIParent" hidden="true" frameStrata="HIGH">
		<Scripts>
			<OnLoad>
				table.insert(UISpecialFrames, self:GetName());
			</OnLoad>
		</Scripts>
	</Frame>
</Ui>
